/* shared styles */
* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}
.section-description {
  color: #534c64;
  font-size: 1.1rem;
  font-weight: 400;
}
/* navbar related styles*/
.navbar-container {
  display: flex;
  justify-content: space-between;
  padding: 37px 240px 5px 240px;
  box-shadow: 0px 4px 30px 0px #0808080d;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-right > ul {
  display: flex;
  align-items: center;
}
.navbar-icon {
  margin: 7px 20px 45px 0;
}
.navbar-title {
  margin-bottom: 37px;
  color: #0b0223;
  font-size: 45px;
  font-weight: 800;
}
.gamer-text {
  color: #ff42a5;
}
.navbar-right li {
  list-style: none;
}
.navbar-right li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 30px;
}
.navbar-btn {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  border-style: none;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  cursor: pointer;
}
/* banner related styles */
.banner-container {
  display: flex;
}
.banner-content {
  width: 901px;
  height: 675px;
  background-image: url("/images/Group\ 14.png");
  background-position: left;
  padding-top: 210px;
  padding-left: 240px;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 90px;
}
.banner-stats {
  color: #f948b2;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 40px;
}
.banner-btn1 {
  width: 156px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 24px;
  cursor: pointer;
}
.banner-btn2 {
  width: 185px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}
.banner-image {
  margin: 205px 240px 0 90px;
}
/* gamer section related styles */
.gamer-container {
  display: flex;
}
.gamer-img {
  margin: 55px 50px 55px 240px;
}
.gamer-content {
  margin: 95px 200px 0 0;
  text-align: right;
}
.gamer-title {
  color: #f948b2;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.gamer-description {
  width: 520px;
  text-align: end;
  margin-bottom: 32px;
}
.gamer-btn {
  width: 208px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 24px;
  cursor: pointer;
}
.gamer-purpose {
  color: #534c64;
  font-size: 1.5rem;
  font-weight: 500;
}
.gamer-ending {
  color: #534c64;
  font-size: 2rem;
  font-weight: 700;
}
/* online games section related styles */
.online-game-container {
  margin: 100px 230px;
  text-align: center;
}
.online-game-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.funny-text {
  color: #f948b2;
}
.online-game-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 48px;
}
.online-game-info {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  padding-left: 10px;
  margin-top: 24px;
}
/* play instantly section related styles */
.play-instant-container {
  display: flex;
  gap: 120px;
  margin-top: 130px;
  margin-left: 400px;
}
.play-instant-content {
  width: 350px;
  height: 270px;
  text-align: right;
  margin-top: 240px;
}
.play-instant-title {
  font-size: 3rem;
  font-weight: 700;
}
.instant-text {
  color: #f948b2;
}
.play-instant-description {
  margin-top: 24px;
}
.play-instant-img .instant-img2 {
  position: relative;
  bottom: 270px;
}
.play-instant-img .instant-img1 {
  margin-left: 150px;
}
/* play games section related styles */
.play-game-container {
  display: flex;
  gap: 100px;
  margin-left: 250px;
}
.play-game-content {
  width: 350px;
  height: 270px;
  text-align: left;
  margin-top: 240px;
}
.play-game-title {
  font-size: 3rem;
  font-weight: 700;
}
.play-game-img {
  text-align: right;
}
.game-img2 {
  position: relative;
  bottom: 270px;
}
.game-img1 {
  margin-right: 150px;
}
/* careers section related styles */
.career-container {
  width: 1920px;
  height: 821px;
  background: linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%);
  display: flex;
}
.career-content {
  width: 680px;
  height: 581px;
  margin-top: 160px;
  margin-left: 240px;
}
.career-content > div li {
  list-style: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.career-list {
  display: flex;
  gap: 95px;
}
.career-country li {
  text-align: right;
}
.career-title {
  color: #fff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 24px;
}
.career-description {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 32px;
}
.career-info ul {
  padding: 0;
}
.career-btn {
  width: 275px;
  height: 65px;
  background: #fff;
  border-radius: 48px;
  border-style: none;
  color: #ff42a5;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
}
/* button section related styles */
.button-container {
  width: 1920px;
  height: 427px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 0;
  margin-top: 120px;
  margin-left: 40px;
}
.button-container > button {
  width: 243px;
  height: 75px;
  background: #fff;
  border-radius: 50px;
  border: 2px solid transparent;
  display: flex;
  gap: 0;
  align-items: center;
}
.button-title {
  color: #0b0223;
  font-size: 1.25rem;
  font-weight: 600;
}
.button-container > button:hover {
  cursor: pointer;
  border: 2px solid #ff42a5;
  transform: scale(1.2);
}
button > h4:hover {
  color: #ff42a5;
}
/* footer section related styles */
footer {
  width: 1920px;
  height: 636px;
  background-color: #0b0223;
}
.footer-heading {
  display: flex;
  gap: 24px;
  align-items: center;
  padding-top: 120px;
  padding-left: 830px;
}

.footer-title {
  color: white;
  font-size: 2.8rem;
  font-weight: 700;
}
.footer-special-text {
  color: #ff42a5;
}
.footer-heading > img {
  width: 86px;
  height: 40px;
}
.footer-info-title {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}
.footer-info {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 814px;
  height: 40px;
  padding-top: 60px;
  padding-left: 580px;
}
.footer-icon {
  width: 440px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 66px;
  padding-left: 755px;
  cursor: pointer;
}
.footer-policy-title {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.footer-policy {
  width: 708px;
  height: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 74px;
  padding-left: 640px;
}
.footer-ending {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 500;
  padding-top: 30px;
  padding-left: 744px;
}

/* responsive media query */

/* for small devices */
@media screen and (max-width: 576px) {
  .navbar-container,
  .navbar-right > ul,
  .gamer-container,
  .play-instant-container,
  .career-container {
    flex-direction: column;
  }
  .banner-container,
  .play-game-container {
    flex-direction: column-reverse;
  }
  .navbar-right > ul {
    margin-top: 20px;
    margin-right: 30px;
    gap: 40px;
  }
  .navbar-container {
    padding: 100px 100px 60px 90px;
  }
  .navbar-right li a {
    margin-right: 0;
  }
  .banner-image img,
  .banner-content {
    width: 400px;
  }
  .banner-image img {
    margin: 0;
  }
  .banner-image {
    margin: 0 0 0 10px;
  }
  .banner-content {
    padding-left: 20px;
  }
  .gamer-content,
  .gamer-description {
    text-align: center;
  }
  .gamer-img img,
  .gamer-description,
  .online-game-container {
    width: 400px;
  }
  .gamer-img,
  .gamer-content {
    margin: 0;
  }
  .gamer-description {
    margin-left: 10px;
  }
  .online-game-img {
    grid-template-columns: 1fr;
  }
  .online-game-container {
    margin: 100px 0 0 10px;
  }
  .online-game-info {
    text-align: center;
    margin-bottom: 24px;
  }
  .play-instant-img .instant-img1 {
    width: 300px;
    height: 315px;
    margin-left: 60px;
  }
  .play-game-img .game-img1 {
    width: 337px;
    height: 325px;
    margin-right: 60px;
  }
  .play-instant-img .instant-img2 {
    width: 159px;
    height: 182px;
    bottom: 100px;
  }
  .play-game-img .game-img2 {
    width: 159px;
    height: 182px;
    bottom: 100px;
  }
  .play-instant-container {
    margin: 0 10px 0 0;
  }
  .play-game-container {
    margin: 0 0 0 10px;
  }
  .play-instant-content {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
  }
  .play-game-content {
    text-align: center;
    margin-top: 10px;
    margin-left: 30px;
  }
  .career-content {
    margin: 10px 0 0 25px;
    width: 370px;
    height: 681px;
  }
  .career-container {
    width: 425px;
    height: auto;
  }
  .career-image img {
    width: 380px;
    padding-top: 150px;
    padding-left: 25px;
  }
  .button-container {
    width: 300px;
    height: auto;
    grid-template-columns: 1fr;
    margin-top: 30px;
    margin-left: 100px;
  }
  .footer-heading,
  .footer-info,
  .footer-icon,
  .footer-policy,
  .footer-ending {
    padding: 0;
  }
  footer {
    width: 425px;
  }
  .footer-info,
  .footer-icon,
  .footer-policy {
    width: 420px;
  }
  .footer-info,
  .footer-icon {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-policy {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-heading {
    padding-top: 30px;
    padding-left: 75px;
  }
  .footer-info,
  .footer-icon {
    padding-top: 30px;
    padding-left: 5px;
    row-gap: 10px;
    text-align: center;
  }
  .footer-policy {
    padding-top: 90px;
    padding-left: 5px;
    text-align: center;
  }
  .footer-ending {
    padding-top: 90px;
    padding-left: 10px;
    text-align: center;
  }
}

/* for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar-container,
  .banner-container,
  .gamer-container,
  .play-instant-container,
  .career-container {
    flex-direction: column;
  }
  .play-game-container {
    flex-direction: column-reverse;
  }
  .navbar-container {
    padding: 0 0 20px 0;
  }
  .navbar-left {
    margin: 40px 250px;
  }
  .navbar-right {
    margin: auto 100px;
  }
  .banner-image img {
    width: 450px;
  }
  .banner-container {
    margin-top: 24px;
  }
  .banner-content {
    width: 350px;
    margin-left: 210px;
  }
  .banner-content,
  .banner-title {
    padding: 0;
  }
  .banner-image img,
  .play-instant-container,
  .play-game-container {
    margin: 0;
  }
  .banner-image {
    margin-left: 160px;
  }
  .banner-description {
    width: 100%;
  }
  .banner-btn1 {
    margin-bottom: 20px;
  }
  .gamer-container {
    width: 700px;
    margin-left: 40px;
  }
  .gamer-img img,
  .gamer-content {
    width: 700px;
  }
  .gamer-img,
  .gamer-content {
    margin: 0;
  }
  .gamer-content,
  .gamer-description {
    text-align: center;
  }
  .gamer-description {
    margin-left: 80px;
  }
  .online-game-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .online-game-container {
    margin: 100px 0 0 5px;
  }
  .online-game-info {
    text-align: left;
    margin-bottom: 24px;
    margin-left: 5px;
  }
  .play-instant-img .instant-img1 {
    margin-left: 80px;
  }
  .play-game-img .game-img1 {
    width: 680px;
    margin-right: 80px;
  }
  .play-instant-content,
  .play-game-content {
    text-align: center;
    margin: 24px 0 10px 210px;
  }
  .career-container {
    width: 768px;
    height: auto;
  }
  .career-content {
    margin: 10px 0 0 35px;
    width: 700px;
    height: 681px;
  }
  .career-image img {
    width: 700px;
    padding-left: 20px;
  }
  .button-container {
    width: 700px;
    height: 600px;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
    margin-left: 50px;
  }
  footer {
    width: 768px;
  }
  .footer-info,
  .footer-icon,
  .footer-policy {
    width: 720px;
  }
  .footer-heading,
  .footer-info,
  .footer-icon,
  .footer-policy,
  .footer-ending {
    padding: 0;
  }
  .footer-heading {
    padding-top: 30px;
    padding-left: 245px;
  }
  .footer-info,
  .footer-icon,
  .footer-policy {
    text-align: center;
    padding-top: 30px;
  }
  .footer-ending {
    padding-top: 90px;
    padding-left: 10px;
    text-align: center;
  }
}
