/* shared styles */

* {
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
}

/* navbar related styles*/

.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 37px 240px;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.navbar-right > ul {
  display: flex;
  align-items: center;
}
.navbar-icon {
  margin: 7px 20px 45px 0;
}
.navbar-title {
  margin-bottom: 37px;
  color: #0b0223;
  font-size: 45px;
  font-weight: 800;
}
.gamer-text {
  color: #ff42a5;
}
.navbar-right li {
  list-style: none;
}
.navbar-right li a {
  text-decoration: none;
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 30px;
}
.navbar-btn {
  width: 262px;
  height: 56px;
  border-radius: 8px;
  border-style: none;
  background: rgba(11, 2, 35, 0.1);
  color: #3c354f;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
  cursor: pointer;
}

/* banner related styles */

.banner-container {
  display: flex;
  align-items: center;
  /* gap: 70px; */
}
.banner-content {
  width: 901px;
  height: 700px;
  background-image: url("/images/Group\ 14.png");
  background-position: left;
  padding-top: 210px;
  padding-left: 240px;
}
.banner-title {
  color: #0b0223;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-stats {
  color: #f948b2;
  font-size: 6rem;
  font-weight: 800;
  text-transform: uppercase;
}
.banner-description {
  color: #534c64;
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 24px;
  margin-bottom: 40px;
}
.banner-btn1 {
  width: 156px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #ff42a5;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-right: 24px;
}
.banner-btn2 {
  width: 185px;
  height: 65px;
  border-radius: 48px;
  border-style: none;
  background-color: #4ec5f7;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}
.banner-image{
    margin: 20px 240px 0 90px;
}

/* responsive media query */

/* for small devices */

@media screen and (max-width: 576px) {
  .navbar-container,
  .navbar-right > ul {
    flex-direction: column;
  }
  .navbar-right > ul {
    margin-top: 20px;
    margin-right: 30px;
    gap: 40px;
  }
  .navbar-container {
    margin: 100px 100px 60px 90px;
  }
  .navbar-right li a {
    margin-right: 0;
  }
}

/* for medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
  .navbar-container {
    flex-direction: column;
  }
  .navbar-container {
    margin: 0;
  }
  .navbar-left {
    margin: 40px 250px;
  }
  .navbar-right {
    margin: auto 100px;
  }
}
